body {
    color: #333;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1;
}

a {
    color: #307EA9;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}
